.edit-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.edit {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.edit button {
  background-color: #de4620;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2%;
}
.edit input {
  width: 15rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding and border are included in the total width */
  font-size: 16px;
  margin-top: 0.8%;
}
.edit input:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default focus outline */
}
.edit-image {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  border: 2px solid #ddd;
  padding: 1rem;
}
.edit-user-details {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  border: 2px solid #ddd;
  padding: 1rem;
}
.edit-change-password {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  border: 2px solid #ddd;
  padding: 1rem;
}
.edit-image img {
  width: auto;
}
.edit-image input {
  align-items: center;
  padding: 1rem;
}
.hidden {
  display: none;
}
/* .edit-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .edit-image input[type="file"] {
    margin-bottom: 10px;
  }
  
  .edit-image button[type="submit"] {
    display: block;
    margin: 0 auto;
  }
  
  .edit-user-details,
  .edit-change-password {
    margin-top: 20px;
  }
  
  .edit-user-details,
  .edit-change-password {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .edit-user-details input,
  .edit-change-password input,
  .edit-user-details select,
  .edit-change-password select,
  .edit-user-details button,
  .edit-change-password button {
    width: 100%;
  }
  
  .edit-user-details select,
  .edit-change-password select {
    margin-bottom: 10px;
  }
  
  @media only screen and (min-width: 768px) {
    .edit-image,
    .edit-user-details,
    .edit-change-password {
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
    }
  
    .edit-image {
      width: 30%;
      padding-right: 20px;
    }
  
    .edit-user-details,
    .edit-change-password {
      width: calc(70% - 20px);
    }
  }
    */
